/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

/*
    Teams look and feel
*/

body {
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    font-family: "Segoe UI", system-ui, "Apple Color Emoji", "Segoe UI Emoji", sans-serif;
    font-size: 14px;
    color: #616161;
}
a {
    color: rgb(98,100,167);
    text-decoration: none;
}

div.title {
    color: #424242;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
}

div.text {
    font-size: 18px;
    color: #424242;
    font-weight: 400;
    text-align: center;
}

div.footer {
    color: #424242;
    font-weight: 400;
    text-align: center;
    margin-top: 50px;
}

div.toolbar {
    background-color: #f5f5f5;
    box-shadow: 0 5px 5px #eeeeee;
    padding: 0 30px;
}

    div.toolbar button {
        border: 0;
        line-height: 40px;
        background-color: transparent;
        cursor: pointer;
    }

    div.toolbar button:hover {
        color: rgb(98,100,167);
    }


.ui-dialog {
    background-color: white;
    border-radius: 5px;
    padding: 10px 30px;
    top: 0;
    border: solid 1px #ccc;
}

.ui-widget-content {
    top: 0;
}

.ui-dialog-titlebar {
    display: none;
}

.ui-dialog .title-container {
}

        .ui-dialog .title-container .title {
            text-align: left;
            font-size: 14px;
        }

        .ui-dialog .title-container .text {
            text-align: left;
            font-size: 14px;
        }

.ui-dialog-titlebar-close {
    display: none;
}

.ui-dialog-buttonpane {
    background-color: white;
    padding: 10px;
    text-align: right;
    border-radius: 0 0 5px 5px;
}

.ui-dialog-buttonpane button {
    background-color: white;
    border: solid 1px #ccc;
    font-weight: 600;
    border-radius: 5px;
    padding: 10px;
    margin-left: 20px;
    cursor: pointer;
}

    .ui-dialog-buttonpane button.primary {
        background-color: #6264A7;
        color: white;
    }

.ui-dialog form {
    margin-top: 20px;
}

.ui-dialog label {
    display: block;
    color: #616161;
}

.ui-dialog input {
    border: 0;
    border-radius: 5px;
    background-color: #f5f5f5;
    padding: 5px;
    font-size: 14px;
    outline: none;
    width: 100%;
}

    .ui-dialog input:focus {
        border-bottom: solid 2px #6264A7;
    }

.ui-dialog input:focus {
    border: 0;
}

div.container {
    padding: 30px;
}

table {
    margin-top: 50px;
    width: 100%;
}

    table tr th {
        font-size: 12px;
        line-height: 24px;
        font-weight: normal;
        text-align: left;
        border-bottom: solid 2px #dfdfdf;
    }

    table tr td {
        line-height: 32px;
        border-bottom: solid 2px #dfdfdf;
    }